* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 10px;
    box-shadow: 0 0 10px 0px #00000022;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.container_nav nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container_nav nav ul li {
    list-style: none;
    margin-right: 20px;
}

.container_nav nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: 600;
}

main {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 93vh;
}

.present {
    width: 400px;
}

.present h1 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #000;
    margin-bottom: 25px;
}

.present p {
    font-weight: 400;
    color: #000;
    margin-bottom: 25px;
}

.present a {
    padding: 10px 20px;
    border: none;
    background: rgb(0, 162, 255);
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
    border-radius: 4px;
}

.loader {
    height: 20rem;
    width: 20rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.react-star {
    position: relative;
    width: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15rem;
    animation: rotate 3s infinite;
}

.nucleus {
    position: absolute;

    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: linear-gradient(#0738e8, #0738e8);
    height: 2rem;
    width: 2rem;
    animation: rotate 1s linear infinite;
}

.electron {
    position: absolute;
    width: 15rem;
    height: 6rem;
    border-radius: 50%;
    border: 0.3rem solid #0738e8;
    animation: revolve 1s linear infinite;
}

.electron1::before,
.electron2::before,
.electron3::before {
    content: "";
    position: absolute;
    top: 60%;
    left: 100%;
    transform: translate(-50%, -50%);
    width: 1rem;
    height: 1rem;
    background-color: rgb(0, 162, 255);
    border-radius: 50%;
    animation: moveElectron 1s infinite;
}

.electron2 {
    transform: rotate(60deg);
    animation-delay: -0.66s;
}

.electron2::before {
    animation-delay: -0.66s;
}

.electron3 {
    transform: rotate(-60deg);
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg) scale3d(1.1, 1.1, 0);
    }
}

@keyframes revolve {
    0% {
        border-color: #008cffaf;
        border-right: transparent;
    }

    25% {
        border-color: #00a2ffd0;
        border-bottom-color: transparent;
    }

    50% {
        border-color: #00ffff9c;
        border-left-color: transparent;
    }

    75% {
        border-color: #00ffff9c;
        border-top-color: transparent;
    }

    100% {
        border-color: #00ffff9c;
        border-right-color: transparent;
    }
}

@keyframes moveElectron {
    0% {
        top: 60%;
        left: 100%;
    }

    25% {
        top: 100%;
        left: 60%;
    }

    50% {
        top: 60%;
        left: 0%;
    }

    75% {
        top: 0%;
        left: 60%;
    }

    100% {
        top: 60%;
        left: 100%;
    }
}


article {
    height: 55vh;
    background: rgb(0, 162, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_especialidades {
    width: 90%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cards_especialidades {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card_especialidad {
    width: 250px;
    height: 200px;
    background: #fff;
    color: #000;
    border-radius: 15px;
    box-shadow: 1px 5px 20px 0px #0e01ff23;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card_especialidad i {
    font-size: 25px;
    margin-bottom: 8px;
} 

.card_especialidad span {
    font-size: 20px;
    font-weight: 600;
    color: #000;
    margin-top: 12px;
    margin-bottom: 10px;
}




.content {
    width: 50vmin;
    height: 50vmin;
    background: #fff0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pill {
    background: #fff0;
    width: 15vmin;
    height: 40vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transform: rotate(180deg);
    animation: spin 4s linear 0s infinite;
}

@keyframes spin {
    100% {
        transform: rotate(-540deg);
    }
}

.pill .side {
    background: #f7c340;
    position: relative;
    overflow: hidden;
    width: 11vmin;
    height: 15vmin;
    border-radius: 6vmin 6vmin 0 0;
}

.pill .side+.side {
    background: #d9680c;
    border-radius: 0 0 6vmin 6vmin;
    border-top: 1vmin solid #621e1a;
    animation: open 2s ease-in-out 0s infinite;
}

@keyframes open {

    0%,
    20%,
    80%,
    100% {
        margin-top: 0;
    }

    30%,
    70% {
        margin-top: 10vmin;
    }
}

.pill .side:before {
    content: "";
    position: absolute;
    width: 2vmin;
    height: 10vmin;
    bottom: 0;
    right: 1.5vmin;
    background: #fff2;
    border-radius: 1vmin 1vmin 0 0;
    animation: shine 1s ease-out -1s infinite alternate-reverse;
}

.pill .side+.side:before {
    bottom: inherit;
    top: 0;
    border-radius: 0 0 1vmin 1vmin;
}

.pill .side:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    border-radius: 6vmin 6vmin 0 0;
    border: 1.75vmin solid #00000022;
    border-bottom-color: #fff0;
    border-bottom-width: 0vmin;
    border-top-width: 1vmin;
    animation: shadow 1s ease -1s infinite alternate-reverse;
}

.pill .side+.side:after {
    bottom: inherit;
    top: 0;
    border-radius: 0 0 6vmin 6vmin;
    border-top-color: #fff0;
    border-top-width: 0vmin;
    border-bottom-width: 1vmin;
}

@keyframes shine {

    0%,
    46% {
        right: 1.5vmin;
    }

    54%,
    100% {
        right: 7.5vmin;
    }
}

@keyframes shadow {

    0%,
    49.999% {
        transform: rotateY(0deg);
        left: 0;
    }

    50%,
    100% {
        transform: rotateY(180deg);
        left: -3vmin;
    }
}

.medicine {
    position: absolute;
    width: calc(100% - 6vmin);
    height: calc(100% - 12vmin);
    background: #fff0;
    border-radius: 5vmin;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.medicine i {
    width: 1vmin;
    height: 1vmin;
    background: #47c;
    border-radius: 100%;
    position: absolute;
    animation: medicine-dust 1.75s ease 0s infinite alternate;
}

.medicine i:nth-child(2n + 2) {
    width: 1.5vmin;
    height: 1.5vmin;
    margin-top: -5vmin;
    margin-right: -5vmin;
    animation-delay: -0.2s;
}

.medicine i:nth-child(3n + 3) {
    width: 2vmin;
    height: 2vmin;
    margin-top: 4vmin;
    margin-right: 3vmin;
    animation-delay: -0.33s;
}

.medicine i:nth-child(4) {
    margin-top: -5vmin;
    margin-right: 4vmin;
    animation-delay: -0.4s;
}

.medicine i:nth-child(5) {
    margin-top: 5vmin;
    margin-right: -4vmin;
    animation-delay: -0.5s;
}

.medicine i:nth-child(6) {
    margin-top: 0vmin;
    margin-right: -3.5vmin;
    animation-delay: -0.66s;
}

.medicine i:nth-child(7) {
    margin-top: -1vmin;
    margin-right: 7vmin;
    animation-delay: -0.7s;
}

.medicine i:nth-child(8) {
    margin-top: 6vmin;
    margin-right: -1vmin;
    animation-delay: -0.8s;
}

.medicine i:nth-child(9) {
    margin-top: 4vmin;
    margin-right: -7vmin;
    animation-delay: -0.99s;
}

.medicine i:nth-child(10) {
    margin-top: -6vmin;
    margin-right: 0vmin;
    animation-delay: -1.11s;
}

.medicine i:nth-child(1n + 10) {
    width: 0.6vmin;
    height: 0.6vmin;
}

.medicine i:nth-child(11) {
    margin-top: 6vmin;
    margin-right: 6vmin;
    animation-delay: -1.125s;
}

.medicine i:nth-child(12) {
    margin-top: -7vmin;
    margin-right: -7vmin;
    animation-delay: -1.275s;
}

.medicine i:nth-child(13) {
    margin-top: -1vmin;
    margin-right: 3vmin;
    animation-delay: -1.33s;
}

.medicine i:nth-child(14) {
    margin-top: -3vmin;
    margin-right: -1vmin;
    animation-delay: -1.4s;
}

.medicine i:nth-child(15) {
    margin-top: -1vmin;
    margin-right: -7vmin;
    animation-delay: -1.55s;
}

@keyframes medicine-dust {

    0%,
    100% {
        transform: translate3d(0vmin, 0vmin, -0.1vmin);
    }

    25% {
        transform: translate3d(0.25vmin, 5vmin, 0vmin);
    }

    75% {
        transform: translate3d(-0.1vmin, -4vmin, 0.25vmin);
    }
}

.about {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 93vh;
}

.container_about {
    width: 450px;
}

.container_about h2 {
    font-size: 30px;
    font-weight: 600;
    color: #000;
    margin-bottom: 20px;
}

#statistics {
    padding: 30px 0px 30px 0px;
    display: flex;
    justify-content: space-around;
    margin: 40px 0;
    background: rgb(0, 162, 255);
    color: #fff;
}

.stat-card {
    text-align: center;
}

.stat-title {
    font-size: 18px;
    font-weight: bold;
}

.stat-value {
    font-size: 36px;
    font-weight: 700;
    color: #fff;
    margin-top: 10px;
    transition: all 1s ease-in-out;
}

.section_veneficios {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.container_veneficios {
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container_veneficios h2 {
    font-size: 27px;
    font-weight: 600;
    color: #000;
    margin-bottom: 20px;
}

.container_veneficios > p{
    font-size: 18px;
    font-weight: 400;
    color: #000;
    margin-bottom: 20px;
}

.cards_veneficios {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.card_veneficio {
    width: 280px; 
    height: 200px;
    background: #fff;
    color: #000;
    border-radius: 15px;
    box-shadow: 1px 5px 5px 0px rgb(0, 162, 255);;
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.card_veneficio i{
    font-size: 22px;
    margin-bottom: 8px;
}

.card_veneficio h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}

.contact {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 93vh;
}

.container_contact {
    width: 500px;
}

.container_contact h2 {
    font-size: 30px;
    font-weight: 600;
    color: #000;
    margin-bottom: 20px;
}

.container_contact form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container_contact form input {
    width: 80%;
    height: 40px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 4px;
}

.container_contact form textarea {
    width: 80%;
    height: 100px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 4px;
}

.container_contact form button {
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    background: rgb(0, 162, 255);
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: pointer;
    border-radius: 4px;
}

footer {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    background: rgba(0, 162, 255, 0.397);
    color: #000;
}

footer p {
    font-size: 18px;
    font-weight: 400;
}

footer a {
    color: #000;
    text-decoration: none;
    font-weight: 600;
}

.container_footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 20px;
}

.container_footer .redes{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    width: 200px;
}

.red {
    margin-top: 15px;
}

.red a{
    margin: 10px;
    font-size: 20px;
}

.contacto p{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 20px;
}